<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/nav.css">
<link rel="stylesheet" type="text/css" href="css/rightNav.css">
<link rel="stylesheet" type="text/css" href="css/section.css">


<div id="nav">
  <h1>FudFud</h1>
  <table>
  	<tr><th>Drop Off Locations:<th></tr>
  	<tr><td>All Locations</td></tr>
  	<tr><td>Huntsman</td></tr>
	<tr><td>Engineering Quad</td></tr>
  </table>
</div>

<div id="rightNav">
	<button type="button" class="btn btn-default btn-sm">
	  <span class="glyphicon glyphicon-plus"></span> Fud Run
	</button>
	<button type="button" class="btn btn-default btn-sm">
	  <span class="glyphicon glyphicon-log-out"></span> Log Out
	</button>
</div>

<div id="section">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Runner Name:</th>
			<th>Runner Rating:</th>
			<th>Runner Phone Number:</th>
			<th>Delivery Locations:</th>
			<th>Pickup Locations:</th>
			<th>ETA @ food truck(s):</th>
		</tr>
		<tr>
			<td>Ethan Abramson</td>
			<td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
			<td>412-234-5554</td>
			<td>Hunstman, Engineering Quad</td>
			<td>Magic Carpet</td>
			<td>2:00pm</td>
		</tr>
		<tr>
			<td>John Smith</td>
			<td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
			<td>206-567-2243</td>
			<td>Engineering Quad</td>
			<td>Hemo's</td>
			<td>4:15pm</td>
		</tr>
		<tr>
			<td>Jane Doe</td>
			<td><span class="glyphicon glyphicon-star"></span></td>
			<td>590-234-7767</td>
			<td>Huntsman</td>
			<td>Magic Carpet, Hemo's</td>
			<td>4:15pm</td>
		</tr>
	</table>
</div>