html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
	min-height: 100%;
	width: 100%;
    position: relative;
    overflow: auto;
}

.sidebar {
	background: #5cb85c;
    height: 100%;
    width: 18%;
    position: absolute;
    left: 0;
    border-right: 1px solid #333;
}

.rightbar {
	background: #5cb85c;
    height: 100%;
    min-width: 6%;
    position: absolute;
    right: 0;
    border-left: 1px solid #333;
}

.centerOut {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.center {
	height: 100%;
	position: absolute;
	left: 18%;
	width: 76%;
	overflow: auto;
	background: #eee;
}

@font-face {
    font-family: arabons;
    src: url("XXII ARABIAN-ONENIGHTSTAND.ttf");
}

@font-face {
    font-family: jaapokki;
    src: url("jaapokki-regular.ttf");
}

@font-face {
    font-family: eskindar;
    src: url("eskindarexpand.ttf");
}

.fudfont {
    font-family: arabons;
    color: #eee;
}

.fudfontblack {
    font-family: jaapokki;
    color: #333;
}

.otherfont {
    color: #eee;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: jaapokki;
}

.foottext {
	color: #eee;
	position: absolute;
	bottom: 8px;
	left: 6%;
	text-align: center;
}

a:hover, a:active {
	text-decoration: none;
    background: #eee;
    color: #eee;
}

a:visited, a:link{
    text-decoration: none;
    color: #eee;
}