<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>

<script>
	$(document).ready(function() {
		$.get("/getInfo", function(data, status){
			$("#firstname").text(data.fullname.split(" ")[0]);
			$("#img2").attr("src", data.image);
		});

		$.get("/getRunners", function(data, status){
			$("#heading").text("List of Füd-Runs to " + data.location);
			$("#lol").text("");
			if (data.data == null)
				$("#lol").text("No Runners Available :(");
			else 
				for (var i = 0; i < data.data.length; i++) {
					var current = data.data[i];
					var un = current.username;
					var fn = current.userInfo.fullname;
					var ph = current.userInfo.phone;
					var tr = current.truck;
					var str_tr = "";
					var etaDate = new Date(current.eta);
					var eta = "";
					if (etaDate.getMinutes() == 0)
						eta = etaDate.getHours() + ":00";
					else 
						eta = etaDate.getHours() + ":" + etaDate.getMinutes();
					var ratings = current.userInfo.rating;
					var total = current.userInfo.total;
					var rate_str = ratings + " (" + total + " Ratings)";
					for (var j = 0; j < tr.length; j++) {
						if (tr[j] == "Magic")
							tr[j] = "Magic Carpet";
						else if (tr[j] == "NYG")
							tr[j] = "NY Gyro";
						else if (tr[j] == "YueKee")
							tr[j] = "Yue Kee";
						str_tr += "<p>" + tr[j] + "</p>";
					}
					$("#lol").append("" +
						"<div class='col-md-4'>" +
	        					"<div class='thumbnail'>" +
	          						"<div class='caption' align='center'>" +
	            						"<h3>" + fn + "</h3>" +
	            						"<p>" + un + "</p>" +
							            "<p>" + ph + "</p>" +
							            "<h5>Delivering From</h5>" +
							            str_tr +
							            "<h5><span class='glyphicon glyphicon-star' aria-hidden='true'></span>" + rate_str + "</h5>" +
							            "<h4>ETA: " + eta + "</h4>" +
							            "<p><a href='#'' class='btn btn-default thisclass' role='button' data-toggle='modal' data-target='#myModal'>Review</a></p>" +
							        "</div>" +
							    "</div>" +
							"</div>");
			}
		});
		$("button#logout").click(function() {
			$.get("/logout", function(data, status){
				window.location.replace("/");
			});
		});
	});
</script>

<div class="page">
	<div class="sidebar">
		<div align="center">
			<a href="/home">
				<h1 class="fudfont">Füd-Füd</h1>
			</a>
			<div style="padding-top:32px;">
				<a href="/engineering">
					<h4 class="otherfont">Engineering Quad</h4>
				</a>
			</div>
			<a href="/huntsman">
				<h4 class="otherfont">Huntsman</h4>
			</a>
			<a href="/harnwell">
				<h4 class="otherfont">Harnwell</h4>
			</a>
			<a href="/harrison">
				<h4 class="otherfont">Harrison</h4>
			</a>
			<a href="/rodin">
				<h4 class="otherfont">Rodin</h4>
			</a>
			<a href="/vp">
				<h4 class="otherfont">Van Pelt</h4>
			</a>
			<a href="/radian">
				<h4 class="otherfont">Radian</h4>
			</a>
			<div class="foottext" align="center">
				© Füd-Füd 2014
			</div>
		</div>
	</div>
	<div class="center container" align="center">
		<h1 id="heading" class="fudfontblack"></h1>
		<div id="lol"></div>
	</div>
	<div class="rightbar otherfont">
		<div align="center">
			<a href="/home">
				<div>
					<span id="firstname"></span><br>
					<img id="img2" src="http://www.seas.upenn.edu/~shreshth/no-image.jpg" style="height:66px; width:58px; padding-left:4px; padding-right:4px; padding-top:8px; padding-bottom:8px;" class="img-circle"><br>
				</div>
			</a>
			<button id="logout" style="text-decoration: none;" type="button" class="btn btn-link">
				<h5 class="otherfont">Logout</h5>
			</button>
			<a href="/add">
				<h5 class="otherfont">+ Add<br>Füd-Run</h5>
			</a>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Rate the Runner:</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">1 <span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">2 <span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">3 <span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">4 <span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">5 <span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>