<html> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>FüdFüd | Profile</title>
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="./nav_nets213.css">
<link rel="stylesheet" type="text/css" href="./right_Nav_nets213.css">

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FüdFüd</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navHeaderCollapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Shreshth<span class="sr-only">(current)</span></a></li>
        <li><a href="fudfud-huntsman.html">Huntsman</a></li>
        <li><a href="fudfud-radian.html">Radian</a></li>
        <li><a href="fudfud-engineering.html">Engineering</a></li>
        <li><a href="fudfud-harrison.html">Harrison</a></li>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li><a href="runCreation_nets213.html">Add FüdRun</a></li>
        <li><a href="form_nets213.html">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</nav>



<div class="container" align="center">
    <div class="page-header">
        <h1>Hello, Shreshth!</h1>
    </div>	
    <ul class="list-group">
      <li class="list-group-item">Shreshth Khilani</li>
  		<li class="list-group-item">shreshth@seas.upenn.edu</li>
  		<li class="list-group-item">215-681-0793</li>
      <li class="list-group-item">4.8/5.0 <span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
      <li class="list-group-item">12 Ratings</li>
	</ul>
    
	</div>
</div>

</div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- jQuery -->
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>

</html>