<header>
<div style="width: 100%; margin: 0 auto; height: 10%;" align="center">
 	<div style="width: 100%; margin: 0 auto; background-color: #3b5998; margin-top: 0px; text-align: left; color: #ffffff">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    				<h2><a href="/" style="text-decoration: none; color: #ffffff">nets @ penn</a></h2>
    			</div>
    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
    				<h3><%= title %></h3>
    			</div>
    		</div>
    		
    	</div>
    </div>
</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</header>