<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>

<script>
	$(document).ready(function() {
		$("button#login").click(function() {
			var un = $("#si-email").val().trim().toLowerCase();
      		var pw = $("#si-pw").val().trim();

      		if (un == "" || pw == "" || un == undefined || pw == undefined) {
        		$("#si-data").text("Please complete all fields to sign in!");
      		}
      		else {
        		$.post("/validate", 
              		{"username": un,"password": pw}, 
              		function(data){
          				if(!data.success) {
            				$("#si-data").text(data.eMsg);
          				}
          				else {
           					 window.location.replace("/home");
          				}
        		});
      		}
		});
		$("button#save").click(function() {
			var un = $("#su-email").val().trim().toLowerCase();
      		var pw = $("#su-pw").val().trim();
      		var fn = $("#su-name").val().trim();
      		var pn = $("#su-phone").val().trim();
      		var im = $("#su-image").val().trim();

      		var json_data = {
      			"fullname": fn,
      			"phone": pn,
      			"image": im,
      			"password": pw
      		}

      		flag = un.indexOf("upenn.edu");

      		if (un == "" || pw == "" || 
      			im == "" || fn == "" ||
      			pn == "" ||
      			un == undefined || pw == undefined ||
      			im == undefined || fn == undefined ||
      			pn == undefined) {
      			$("#su-data").text("Please complete all fields to sign up!");
      		}
      		else if (flag == -1 || flag + 9 < un.length) {
      			$("#su-data").text("Email must be a 'upenn.edu' email!");
      		}
      		else {
      			$.post("/create", 
        			{"username": un,"val": json_data}, 
            		function(data){
        				if(!data.success) {
          					$("#su-data").text(data.eMsg);
        				}
        				else {
          					window.location.replace("/home");
        				}
      			});
      		}
		});
	});
</script>

<div class="page">
	<div class="sidebar">
		<div align="center">
			<a href="/">
				<h1 class="fudfont">Füd-Füd</h1>
			</a>
			<div style="padding-top:32px;">
				<a href="/">
					<h4 class="otherfont">Engineering Quad</h4>
				</a>
			</div>
			<a href="/">
				<h4 class="otherfont">Huntsman</h4>
			</a>
			<a href="/">
				<h4 class="otherfont">Harnwell</h4>
			</a>
			<a href="/">
				<h4 class="otherfont">Harrison</h4>
			</a>
			<a href="/">
				<h4 class="otherfont">Rodin</h4>
			</a>
			<a href="/">
				<h4 class="otherfont">Van Pelt</h4>
			</a>
			<a href="/">
				<h4 class="otherfont">Radian</h4>
			</a>
			<div class="foottext">
				© Füd-Füd 2014
			</div>
		</div>
	</div>
	<div class="center container" align="center">
		<h1 class="fudfontblack">Welcome to Füd-Füd!</h1>
		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<br>
			Füd-Füd is an app that enables crowd-sourced delivery for Penn's Food Trucks!<br>
			You, as a user, can order food from the listed trucks.<br> Alternatively, you could also pick up food from a truck and deliver it to someone who placed an order.<br><br>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3 class="fudfontblack">Sign In</h3>
				<div id="si-data" style="color: red;"></div><br>
				<form id="signin">
					<div class="form-group">
    					<label for="si-email">Email Address</label>
    					<input type="email" class="form-control" id="si-email" placeholder="Enter Email" tabindex="1" onkeydown="if (event.keyCode == 13) document.getElementById('login').click();">
 					</div>
  					<div class="form-group">
    					<label for="si-pw">Password</label>
    					<input type="password" class="form-control" id="si-pw" placeholder="Password" tabindex="2" onkeydown="if (event.keyCode == 13) document.getElementById('login').click();">
  					</div>
				</form>
				<button id="login" class="btn btn-default">Sign In</button>
				<br><br>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3 class="fudfontblack">Sign Up</h3>
				<div id="su-data" style="color: red;"></div><br>
				<form id="signup">
					<div class="form-group">
    					<label for="su-email">Email Address</label>
    					<input type="email" class="form-control" id="su-email" placeholder="Enter Email" tabindex="3" onkeydown="if (event.keyCode == 13) document.getElementById('save').click();">
 					</div>
 					<div class="form-group">
    					<label for="su-name">Full Name</label>
    					<input type="text" class="form-control" id="su-name" placeholder="Enter Full Name" tabindex="4" onkeydown="if (event.keyCode == 13) document.getElementById('save').click();">
 					</div>
 					<div class="form-group">
    					<label for="su-phone">Phone Number</label>
    					<input type="text" class="form-control" id="su-phone" placeholder="Phone Number" tabindex="5" onkeydown="if (event.keyCode == 13) document.getElementById('save').click();">
 					</div>
 					<div class="form-group">
    					<label for="su-image">Image URL</label>
    					<input type="text" class="form-control" id="su-image" placeholder="URL" tabindex="6" onkeydown="if (event.keyCode == 13) document.getElementById('save').click();">
 					</div>
  					<div class="form-group">
    					<label for="su-pw">Password</label>
    					<input type="password" class="form-control" id="su-pw" placeholder="Password" tabindex="7" onkeydown="if (event.keyCode == 13) document.getElementById('save').click();">
  					</div>
				</form>
				<button id="save" class="btn btn-default">Sign Up</button>
				<br><br>
			</div>
		</div>
	</div>
	<div class="rightbar">
		<div class="othertext" align="center">
			<a href="/">
				<div>
					<br>Login<br>Page
				</div>
			</a>
		</div>
	</div>
</div>