<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="http://myspace.com/favicon.ico" type="image/x-icon" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>

  <body>
  <div id="wrapper">
  
  <!-- embed the header -->

  <!-- embed the body of the page (specified by the referrer when it calls layout()) -->
    <%- body %>

  <!-- embed the footer -->
</div>

  </body>
</html>
  