<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<form>

recepient phone number:<br>
<input type="text" id="recepient">
<br>
amount:<br>
<input type="text" id="amount">
<br>
note:<br>
<input type="text" id="note">


<br>
<br>
<select id="what_to_do">
<option value="pay">PAY</option>
<option value="charge">CHARGE</option>
<br>
<br>

</select>

</form>


<script>
$(document).ready(function(){
  $("#URL").click(function(){
  	var recepient = $("#recepient").val();
  	var amount = $("#amount").val();
  	var note = $("#note").val();
  	var what_to_do = $("#what_to_do").val();
    location.href='https://venmo.com/?txn='+what_to_do+'&recipients='+recepient+'&amount='+amount+'&note='+note+
    '&audience=public';
  });
});
/*function goToURL(amount){

location.href='https://venmo.com/?txn=pay&audience=public';

}*/
</script>

<body>
<a  href="javascript:void(0)" target=_blank  id="URL">Go To URL</a>
</body>
</html>