<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>

<script>
	$(document).ready(function() {
		$.get("/getInfo", function(data, status){
			$("#fullname").text(data.fullname);
			$("#firstname").text(data.fullname.split(" ")[0]);
			$("#img1").attr("src", data.image);
			$("#img2").attr("src", data.image);
			$("#email").text(data.username);
			$("#phone").text(data.phone);
			$("#total").text(data.total);
			$("#rating").text(data.rating);
		});
		$("button#logout").click(function() {
			$.get("/logout", function(data, status){
				window.location.replace("/");
			});
		});
	});
</script>

<div class="page">
	<div class="sidebar">
		<div align="center">
			<a href="/home">
				<h1 class="fudfont">Füd-Füd</h1>
			</a>
			<div style="padding-top:32px;">
				<a href="/engineering">
					<h4 class="otherfont">Engineering Quad</h4>
				</a>
			</div>
			<a href="/huntsman">
				<h4 class="otherfont">Huntsman</h4>
			</a>
			<a href="/harnwell">
				<h4 class="otherfont">Harnwell</h4>
			</a>
			<a href="/harrison">
				<h4 class="otherfont">Harrison</h4>
			</a>
			<a href="/rodin">
				<h4 class="otherfont">Rodin</h4>
			</a>
			<a href="/vp">
				<h4 class="otherfont">Van Pelt</h4>
			</a>
			<a href="/radian">
				<h4 class="otherfont">Radian</h4>
			</a>
			<div class="foottext">
				© Füd-Füd 2014
			</div>
		</div>
	</div>
	<div class="center container" align="center">
		<h1 class="fudfontblack" id="fullname"></h1>
		<br>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<img id="img1" src="http://www.seas.upenn.edu/~shreshth/no-image.jpg" style="height:240px;" class="img-circle"><br>
			
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			
				<h3><img src="star.png" style="width:60px;"> <span id="rating"></span>/5</h3>
				<h5>[<span id="total"></span> Ratings]</h5>
				<br>
				<span id="email"></span><br>
				<span id="phone"></span><br>
			</div>
		</div>
	</div>
	<div class="rightbar otherfont">
		<div align="center">
			<a href="/home">
				<div>
					<span id="firstname"></span><br>
					<img id="img2" src="http://www.seas.upenn.edu/~shreshth/no-image.jpg" style="height:66px; width:58px; padding-left:4px; padding-right:4px; padding-top:8px; padding-bottom:8px;" class="img-circle"><br>
				</div>
			</a>
			<button id="logout" style="text-decoration: none;" type="button" class="btn btn-link">
				<h5 class="otherfont">Logout</h5>
			</button>
			<a href="/add">
				<h5 class="otherfont">+ Add<br>Füd-Run</h5>
			</a>
		</div>
	</div>
</div>