<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<!-- style.css -->
<link rel="stylesheet" type="text/css" href="style.css">
<div class="page">
	<div class="sidebar">
		<div align="center">
			<a href="/home">
				<h1 class="fudfont">Füd-Füd</h1>
			</a>
			<div style="padding-top:32px;">
				<a href="/engineering">
					<h4 class="otherfont">Engineering Quad</h4>
				</a>
			</div>
			<a href="/huntsman">
				<h4 class="otherfont">Huntsman</h4>
			</a>
			<a href="/harnwell">
				<h4 class="otherfont">Harnwell</h4>
			</a>
			<a href="/harrison">
				<h4 class="otherfont">Harrison</h4>
			</a>
			<a href="/rodin">
				<h4 class="otherfont">Rodin</h4>
			</a>
			<a href="/vp">
				<h4 class="otherfont">Van Pelt</h4>
			</a>
			<a href="/radian">
				<h4 class="otherfont">Radian</h4>
			</a>
			<div class="foottext">
				© Füd-Füd 2014
			</div>
		</div>
	</div>
	<div class="center container" align="center">
		<h1 class="fudfontblack">Shreshth Khilani</h1>
		<br>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<img src="http://www.seas.upenn.edu/~shreshth/coffee.jpg" style="height:240px;" class="img-circle"><br>
			
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			
				<h3><img src="star.png" style="width:60px;"> 4.8/5</h3>
				<h5>[15 Ratings]</h5>
				<br>
				shreshth@seas.upenn.edu<br>
				215-681-0793<br>
			</div>
		</div>
	</div>
	<div class="rightbar otherfont">
		<div align="center">
			<a href="/home">
				<div>
					Shreshth<br>
					<img src="http://www.seas.upenn.edu/~shreshth/coffee.jpg" style="height:58px; width:58px; padding-left:4px; padding-right:4px; padding-top:8px;" class="img-circle"><br>
				</div>
			</a>
			<a href="/logout">
				<h5 class="otherfont">Logout</h5>
			</a>
			<a href="/add">
				<h5 class="otherfont">+ Add<br>Füd-Run</h5>
			</a>
		</div>
	</div>
</div>